{% include header.html %}


<body class="animated fadeIn">
<div class="container content">
<header class="masthead" style="background-image: url(http://i.imgur.com/nwJBo0C.jpg);">

    <!-- Navigation Loop -->
    {% include nav.html %}

    <div class="dot"></div>
    <h1 class="big-serif">Stephanie<br>Athena<br>Acosta</h1>
    <h2 class="small-sans"><a href="{{ site.url }}/about">is</a> a charismatic genius<br>
      with a heart for the intellectual. Currently<br>
      involved in finance and customer and people relations,<br>
      while dipping my toes in <a href="http://www.marketwatch.com/story/this-is-the-best-time-in-history-to-invest-in-real-estate-2016-08-22" target="_blank">real estate and property investments</a>.</h2>

</header>
<br>
<br>
{{ content }}

{% include footer.html %}

</body>


</html>
